.Doctor__container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.Doctor__boxes{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.Doctor__boxes--profile{
    margin: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /* border-bottom: 1px solid black; */
}

.Doctor__boxes--name{
    font-size: 4rem;
    width: 70%;
    /* border: 2px solid black; */
}

p{
    line-height: 1.3rem;
}
.Doctor__boxes--nameSpan{
    font-size: 1rem;
}
.Doctor__boxes--description{
    padding: 0.5rem;
    width: 95%;
    
    text-align: justify;
}
.Doctor__insurance--container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.Doctor__insurance{
    border: 1px solid rgba(28, 28, 28, 0.3);
    width: 100%;
    padding: 2rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
}

.Doctor__Insurance--box{
    /* margin: 1rem; */
    border: 1px solid black;
    width: 100%;
    height: 8.5rem;
    padding: 0.5rem;
    padding-top: 1;
    padding-bottom: 0%;
}

.Doctor__insurance--ptag{
    margin: 0.2rem;
    font-size: 0.9rem;
}

.Doctor__license--container{
    padding: 1rem;
    margin: 0 auto;
    border-bottom: 0.5px solid rgb(28, 28, 28);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.Doctor__license-headerbox{
    color: rgb(28, 28, 28);
    font-size: 3rem;
    padding-top: 4rem;
    border-right: 0.5px solid rgb(28, 28, 28);
    width: 60%;
    margin: 1rem;
    height: 12rem;
}
.Doctor__license{
    font-size: 1.3rem;
    margin: 1rem;
    width: 100%;
}

.Doctor__license--text{
    padding: 0.5rem;
    margin: 1rem;
    border-bottom: 0.5px solid rgb(28, 28, 28);
}

.Doctor__license--span{
    font-weight: 700;
    font-size: 1.3rem;
    color: rgb(28, 28, 28);
}

.Practice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    font-size: 1rem;
    /* padding: 1rem; */
}

.Doctor__Practice{
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    border-left: 0.5px solid rgb(28, 28, 28);
}

.Doctor__Practise--span{
    font-weight: 700;
    font-size: 1.1rem;
    color: rgb(28, 28, 28);
}
.Doctor__Practise--pT{
    margin: 0.5rem;
}
.education{
    border-top: 0.5px solid rgb(28, 28, 28);
}
