.Button-div{
    border: 1px solid black;
    margin: 0 auto;
    width: 10rem;
    height: 4rem;
    padding: 1rem;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20%;
}

.EditProfileHeadr{
    margin: 4rem;
}

.top{
    border-top: 1px solid black; 
    padding-top: 4rem;
}